<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
      <i class="fas  fa-unlock-alt mr-1"></i>
      <p>
        Authentication Mangement
  
        <i class="fas fa-angle-left right"></i>
  
  
      </p>
    </a>
  
  
    <ul class="nav nav-treeview">
  
  
  
    </ul>
    <ul class="nav nav-treeview">
      <li class="nav-item ml-3">
        <a href="{% url 'set_change_password' %}" class="nav-link">
          <i class="fas fa-xs fa-circle"></i>
          <p>
            Reset Password
  
          </p>
        </a>
      </li>
    </ul>
    <ul class="nav nav-treeview">
      <li class="nav-item ml-3">
        <a href="{% url 'change_password' %}" class="nav-link">
          <i class="fas fa-xs fa-circle"></i>
          <p>
            Change Password
  
          </p>
        </a>
      </li>
    </ul>
  </li>