<li class="nav-item has-treeview">

      <li class="nav-item">
        <a href="{% url 'user:upload-article' %}" class="nav-link">
          <i class="fas fa-xs fa-book"></i>
          <p>
            Upload Paper

          </p>
        </a>
      </li>


  
  </li>


  <!-- ----- ------------------------------------------Article category---------------------------------------------------->
<li class="nav-item has-treeview">
  <a href="#" class="nav-link">
    <i class="fas  fa-book mr-1"></i>
    <p>
  Article Category 

      <i class="fas fa-angle-left right"></i>


    </p>
  </a>

  <ul class="nav nav-treeview">
    <li class="nav-item ml-3">
      <a href="{% url 'user:article-under-review' %}" class="nav-link">
        <i class="fas fa-xs fa-circle"></i>
        <p>
          Under Review

        </p>
      </a>
    </li>


  </ul>

  <ul class="nav nav-treeview">
    <li class="nav-item ml-3">
      <a href="{% url 'user:article-accepted' %}" class="nav-link">
        <i class="fas fa-xs fa-circle"></i>
        <p>
        Accepted Articles

        </p>
      </a>
    </li>


  </ul>
  <ul class="nav nav-treeview">
    <li class="nav-item ml-3">
      <a href="{% url 'user:article-rejected' %}" class="nav-link">
        <i class="fas fa-xs fa-circle"></i>
        <p>
        Rejected Articles

        </p>
      </a>
    </li>


  </ul>

</li>
{% include "sidebar/includes/authentication.html" %}
<li class="nav-item">
  <a href="{% url 'update_user_profile' %}" class="nav-link">
    <i class="fas fa-user"></i>
    <p>
      Profile

    </p>
  </a>
</li>
<li class="nav-item">
  <a href="{% url 'logout' %}" class="nav-link">
    <i class="fas fa-sign-out-alt"></i>
    <p>
      Logout

    </p>
  </a>
</li>