#toggle-header {
    background-color: #743DB8;
    color: #fff;
    margin-top: 4px;
  }
  .img-one {
    margin-left: 100px !important;
    margin-top: 20px !important;
    height:170px;
    width:180px;
    margin-right:50%;
  }
  .img-two {
    margin-left: 30px;
    height: 55px;
    width: 320px;
    

    
  }
  body {
    background-color: #F8FAFA;
  }

  #header .navbar-light .navbar-nav .nav-link:focus,
  #header .navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
  }

  #header nav {
    padding: 15px 0px;
  }

  #header .navbar-light .navbar-nav .nav-link {

    /*  color: #5a5a5a;*/
    font-size: 20px;
  }

  #header {
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    float: left;
    width: 100%;
  }

  #header ul.navbar-nav {
    right: 0;
  }

  #header li.nav-item {
    margin: 0px 10px;
  }

  #header .navbar-light .navbar-nav .active>.nav-link,
  #header .navbar-light .navbar-nav .nav-link,
  #header .navbar-light .navbar-nav .nav-link.show,
  #header .navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
  }

  #header .dropdown-menu.show {
    border: none;
  }

/*
  .navbar-nav a:hover{
    background-color: #fff;
    color: #5E72E4;
    border-radius: 0%;
    padding:15px 0px;
  }*/
  .topbar {
    background-color: #d93d2b;
    color: #fff;
    padding: 4px 0px;
  }

  .topbar ul {
    margin: 0px;
    padding: 0px;
  }

  .topbar ul li {
    float: left;
    list-style: none;
    margin: 3px 7px;
    font-size: 15px;
  }

  .topbar ul li a {
    color: #fff;
  }

  .topbar ul li i {
    font-size: 18px;
    margin-right: 3px;
  }

  .topbar ul li.followus-label {
    font-weight: bold;
  }

  #header .social-icon {
    float: right;
  }

  /*=============Responsive css==================*/
  @media (max-width: 991px) {
    .topbar ul li {
      margin: 3px 3px;
      font-size: 12px;
    }

    #header ul.navbar-nav {
      position: static;
      width: 100%;
      border-top: 1px solid #ddd;
      margin: 15px 0px 0px;
      color: #fff;
    }
  }

  .list-group {
    margin-right: 25%;
    max-height: 300px;
    margin-bottom: 10px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
