{% extends 'base.html' %}
{% load static %}
{% block title %}
{{title}}
{% endblock title %}



{% block main_content %}

<!-- Main content -->

<section class="content">
    
    
    <div class="container-fluid">

        {% include "messages.html" %}

        <div class="row">

          
            <div class="col-md-1"></div>
            <div class="col-md-10">

                <iframe src="/viewer/viewer.html?file={{article.file.url}}" width="100%"
                    height="700px" frameborder="0"></iframe>
           
                <!-- <iframe id = "pdf-annotate2" src="/viewer/pdf_annotation2/index.html?documentId={{article.file.url}}" width="100%"
                height="700px" frameborder="0"></iframe> -->
                
            </div>
            <div class="col-md-1"></div>
           
        </div>

     


    </div>
    </div>
</section>


<style>
    #magazineContainer,
    #magazine {
        background-color: #004de6;
    }
</style>

{% endblock main_content %}

