{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block title %}
  {{title}}
{% endblock title %}
  

{% block main_content %}

<!-- Main content -->
<section class="content">
  <div class="container-fluid">

    {% include "messages.html" %}

    <div class="row">
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card">

          {% include 'override_table/header.html' with card_title='Upload Paper' %}

          <!-- /.card-header -->
          <!-- form start -->
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-body">

              {% crispy form %}
            

              <button type="submit" class="btn btn-sm btn-success ">Submit</button>
            </div>
            <hr>
            <!-- /.card-body -->
  
             
          </form>
        </div>
        <!-- /.card -->



      </div>
    </div>
  </div>
</section>
<!-- /.content -->
{% endblock main_content %}

