{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Account{% endblock %}

{% block main_content %}

{% include "messages.html" %}

    <div class="row ml-2">
        <div class="col-md-9">
            <div class="p-3" style=" background-color:white;border-radius:8px;box-shadow: 0px 0px 10px 0px #000;">
                <div class="row">
                    <div class="col-md-3 ">
                        {% if request.user.normaluser.image %}

                        <img src="{{ request.user.normaluser.image.url }}" alt="" style="width: 60%; height:100%;" id="profile-pic" class="img-circle" />

                        {% else %}
                        <img src="{% static 'image/default_profile.png' %}" alt="" id="profile-pic"
                            class="img-circle" />
                        {% endif %}

                    </div>
                    <div class="col-md-1 mt-4" style="margin-right: 5rem;">
                        <h3><strong>{{user.username}}</strong></h3>
                        <p>{{request.user.user.full_name}}</p>
                    </div>
                </div>
                <hr>
                <h4 class="text-center">Profile Informaion</h4>
                <hr>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    {{customuser_form|crispy}}
                    {{user_form|crispy}}



                    <button type="submit" name="user_update" class="btn btn-success">Update</button>

                </form>
            </div>
        </div>


        <div class="col-md-3">

            {% include "profile/change_password.html" %}
        </div>



</div>
<div>


</div>

<link rel="stylesheet" href="{% static 'profile/css/style.css' %}">


{% endblock %}