{% extends 'base.html' %}
{% load static %}
{% load auth_extras %}
{% load crispy_forms_tags %}
{% block title %}
{{title}}
{% endblock title %}
{% block main_content %}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- /.card-header -->
        {% include "messages.html" %}

            <div class="col-12">


                <div class="card " style="background-color: rgb(247, 245, 245);">

                   

                </div>
                </li>

                </ul>

            </div>

            <div class="tab-content">

                <div class="active tab-pane" id="review">
                    <input class="form-control my-2" id="myInput" type="text" placeholder="Search with Category..">
                    <div class="row" id="filter_div">
                        
                       
                        {% for article in articles_under_review %}
                        <div class="col-md-3">
                            <a href="{% url 'reviewer:check_user_article' article.pk %}">
                      
                              <div class="card">
                                <div class="card-body">
                      
                                  <img src="{% static 'image/document_static.png' %}" style=" width:100%" alt="">
                                  <hr>
                                  <div class="d-flex flex-column bd-highlight">
                                    <div class="p-2 bd-highlight"><strong> Category : </strong>
                                      <div class="badge badge-info">{{article.category}}</div>
                                    </div>
                                    <div class="p-2 bd-highlight"> <strong>Created At : </strong>{{article.created_at|date:'d M, Y'}}</div>
                                    <!-- <div class="p-2 bd-highlight">
                                        <strong>Review Status:
                      
                                          
                                          {% if article_feedback %}
                                          <span class="btn btn-sm btn-info">Review Completed</span>

                                          {% else %}
                      
                                          <span class="btn btn-sm btn-danger">pending</span>
                                            
                                          {% endif %}
                                            
                                        </strong>
                                      </div> -->
                                  </div>
                      
                      
                      
                                </div>
                              </div>
                            </a>
                      
                          </div>
                        {% empty %}
                        <h2 class="mx-auto"><strong>No articles Available.</strong></h2>
                        {% endfor %}
                    
                            
                      
                    </div>
                </div>
                <div class="active tab-pane" id="accepted">
                    <div class="row" id="filter_div">
                     
                     {% if accepted_articles  %}
                     {% for article in accepted_articles %}
                     {% include "reviewer/includes/article-body.html" %}
                     {% empty %}
                     <h2 class="mx-auto"><strong>No Accepted articles.</strong></h2>
                     {% endfor %}
                     {% endif %}
                         
                    </div>
                </div>
                <div class="active tab-pane" id="rejected">
                    <div class="row" id="filter_div">
                       {% if rejected_articles %}
                       {% for article in rejected_articles %}
                       {% include "reviewer/includes/article-body.html" %}
                       {% empty %}
                       <h2 class="mx-auto"><strong>No rejected Available.</strong></h2>
                       {% endfor %}
                       {% endif %}
                    </div>
                </div>
            </div>












    </div>
    <!-- /.card-body -->
 

</section>
<!-- /.content -->

<style>
    .nav-custom>li>a:hover {
        color: black;
    }

    .nav-custom>li>a {

        font-weight: 600;
        color: white;
        padding: 8px 10px 8px 10px;
        background-color: #004de6;


    }
</style>
{% endblock main_content %}
{% block javascript %}
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            let isFound = false;
            $("#filter_div *").filter(function () {
                if ($(this).find('.card-body').text().toLowerCase().includes(value)) {
                    isFound = true;
                }
                $(this).closest('.card').toggle(isFound);
            });
        });
    });
</script>
{% endblock %}