{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}
{{title}}
{% endblock title %}



{% block main_content %}

<!-- Main content -->

<section class="content">
    
    
    <div class="container-fluid">

        {% include "messages.html" %}

        <div class="row">

          

            <div class="col-md-9">
<!-- 
                <iframe src="/viewer/viewer.html?file={{article.file.url}}" width="100%"
                    height="700px" frameborder="0"></iframe> -->
           
                <iframe id = "pdf-annotate2" src="/viewer/pdf_annotation2/index.html?documentId={{article.file.url}}&userId={{article.user.pk}}&articleId={{article.pk}}" width="100%"
                height="700px" frameborder="0"></iframe>
                
            </div>
            <div class="col-md-3">
                <div class="card ">


                    <form action="{% url 'reviewer:article_feedback' %}" method="POST" class=" mx-2 my-4">
                        {% csrf_token %}
       
                        <input type="hidden" name = "articleId" value="{{article.pk}}">
                        <input type="hidden" name = "userId" value="{{article.user.pk}}">
       
                       {{ form|crispy }}
                       <input type="submit" name="" value="Submit" style="background-color: #743DB8;color:white;">
                       
                      </form>


            </div>
        </div>

     


    </div>
    </div>
</section>


<style>
    #magazineContainer,
    #magazine {
        background-color: #004de6;
    }
</style>

{% endblock main_content %}

