{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}
{{title}}
{% endblock title %}



{% block main_content %}

<!-- Main content -->

<section class="content">
    
    
    <div class="container-fluid">

        {% include "messages.html" %}

        <div class="row">

          

            <div class="col-md-9">
<!-- 
                <iframe src="/viewer/viewer.html?file={{article.file.url}}" width="100%"
                    height="700px" frameborder="0"></iframe> -->
           
                <iframe id = "pdf-annotate2" src="/viewer/pdf_annotation2/index.html?documentId={{article.file.url}}&userId={{article.user.pk}}&articleId={{article.pk}}" width="100%"
                height="700px" frameborder="0"></iframe>
                
            </div>
            <div class="col-md-3">
                <div class="card ">
                    <form method="POST" class=" mx-2 my-4">
                        {% csrf_token %}
                        <input type="hidden" name = "feedback_id" value="{{feedback.pk}}">
                        <input type="hidden" name = "articleId" value="{{article.pk}}">
                        <input type="hidden" name = "userId" value="{{article.user.pk}}">
       
                       {{ form.status|as_crispy_field}}
                       {{ form.feedback|as_crispy_field}}
                       <h3 style="font-weight: bold;">Rating</h3>
                       <div class="rate">
                        <div class="rate">
							<input type="radio" name="rating" id="rating10" value="5" required /><label for="rating10" title="5"></label>
							<input type="radio" name="rating" id="rating8" value="4" required /><label for="rating8" title="4"></label>
							<input type="radio" name="rating" id="rating6" value="3" required /><label for="rating6" title="3"></label>
							<input type="radio" name="rating" id="rating4" value="2" required /><label for="rating4" title="2"></label>
							<input type="radio" name="rating" id="rating2" value="1" required /><label for="rating2" title="1"></label>
						</div>
                      </div><br>
                       <input class="confirmBox" type="submit" name="" value="Submit" style="background-color: #743DB8;color:white;">
                    </form>
            </div>
        </div>
    </div>
    </div>
</section>


<style>
    #magazineContainer,
    #magazine {
        background-color: #004de6;
    }
</style>

{% endblock main_content %}
{% block custom_js %}
<!-- <script>
    function myFunction(url) {
      console.log(url);
    const csrf = document.getElementsByName('csrfmiddlewaretoken'); 
    const status = document.getElementById('id_status').value;
    const feedback = document.getElementById('id_feedback').value;
    const confirmBox = document.getElementsByClassName('confirmBox');
    // userId={{article.user.pk}}&articleId={{article.pk}}
    const userId = {{article.user.pk}};
    const articleId = {{article.pk}};

    const timer = ms => new Promise(res => setTimeout(res, ms));

    $.ajax({
    url: "{% url 'reviewer:article_feedback' %}",
    type: 'POST',
    data: { 'csrfmiddlewaretoken': csrf[0].value,'rating': url, 'status':status, 'feedback':feedback, 'userId':userId, "articleId":articleId },
    success: function (d) {
        // confirmBox.innerHTML = <p>Successfully rated with ${d.rate}</p>
        window.location.href= 'reviewer/user-under-review-articles/'+ `{{user_id}}`

    },
    error: function (error) {
        // console.log(error)
        confirmBox.innerHTML = '<p>Oops... Something went wrong...</p>'
    }
    });
  }; -->

</script>
{% endblock custom_js %}