{% if messages %}
{% for message in messages %}
{% if message.tags == 'error' %}


<div class="alert alert-default-danger" style="margin-top:10px">{{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

{% if message.tags == 'success' %}



<div class="alert alert-default-success" style="margin-top:10px">{{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
{% endif %}
{% endfor %}
{% endif %}