{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block title %}
  {{title}}
{% endblock title %}


{% block main_content %}
<!-- Main content -->
<section class="content">
  <div class="container-fluid">

    {% include "messages.html" %}




    <div class="row">
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-info">
          {% include 'override_table/header.html' with card_title='Reset Password For Other User' %}

        <div class="col-md-6">
          <form role="form"  id="section-modalform" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="card-body">
             {{ reset_form|crispy }}

            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              
                <button type="submit" class="btn btn-sm btn-success" >Reset Password</button>
              </div>

          </form>
        </div>
          <!-- /.card-header -->

        </div>


      </div>
    </div>
  </div>
</section>
<!-- /.content -->
{% endblock main_content %}


{% block custom_js %}
<script>
$(document).ready(function(){

/*For retrieving based on role*/
  $('#id_role').change(function(event){

    event.preventDefault();

    var role = $('#id_role').val();
    
    $.ajax({
      url : "/get_user_by_role/",
      data: {'role':role},
      success: function(response){
          $("#id_user").html(response);
      }
    });
   
  });

  /* for  password  reset */
  $('#id_user').click(function(){
    var user_id = $(this).val()

    $.ajax({

      url : "{% url 'change_other_password' %}",
      data: {'user_id':user_id},
     
    })

  })
})
</script> 
{% endblock custom_js %}

