{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block title %}
  {{title}}
{% endblock title %}
{% block custom_js %}
<script type="text/javascript" src="{% static 'administrator/user_role.js' %}"></script>
{% endblock custom_js %}



{% block main_content %}
<!-- Main content -->
<section class="content">
  <div class="container-fluid">

    {% include "messages.html" %}




    <div class="row">
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-info">
          {% include 'override_table/header.html' with card_title='Reset Password' %}

        <div class="col-md-6">
          <form role="form"  id="section-modalform" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="card-body">
              <!-- {{ user_role_form|crispy }} -->
             {{ change_form|crispy }}

            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              
                <button type="submit" class="btn btn-sm btn-success" >Change Password</button>
              </div>

          </form>
        </div>
          <!-- /.card-header -->

        </div>


      </div>
    </div>
  </div>
</section>
<!-- /.content -->
{% endblock main_content %}