
    {% load static %}
    <div class="col-md-3">
  
          <div class="card">
            <div class="card-body">
              <a href="{% url 'user:article-view' article.pk %}">
              {% if article.file_image %}
                <img src="{{article.file_image.url}}" style=" width:100%" alt="image">
                {% else %}
                <img src="{% static 'image/Pdf-2127829.png' %}" style=" width:100%" alt="image">
              {% endif %}
              </a>
              <hr>
              <div class="d-flex flex-column bd-highlight">
                
                <div class="p-2 bd-highlight"><strong>Title : </strong>
                  <div class="badge badge-info">{{ article.title }}</div>
                </div>
                <div class="p-2 bd-highlight"><strong> Category : </strong>
                  <div class="badge badge-info">{{article.category}}</div>
                </div>
                <div class="p-2 bd-highlight"> <strong>Created At : </strong>{{article.created_at|date:'d M, Y'}}</div>

                
                {% if article.status == 'Accepted' %}
                <div class="p-2 bd-highlight"><strong> Feedback : </strong>
                  <button class="badge badge-info" data-toggle="modal" data-target="#acceptedModel"><i class="fas fa-eye"> view feedback</i></button>
                </div>
                {% elif article.status == 'Rejected'  %}
                <div class="p-2 bd-highlight"><strong> Feedback : </strong>
                  <button class="badge badge-info" data-toggle="modal" data-target="#rejectedModel"><i class="fas fa-eye"> view feedback</i></button>
                </div>
                {% endif %}
                  
               
              </div>
  
  
  
            </div>
          </div>
  
      </div>
     


      <div class="modal fade" id="acceptedModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Feedback From Reviewer</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              
              {{feedback.feedback}}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>


      <div class="modal fade" id="rejectedModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Feedback From Reviewer</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              
              {{feedback.feedback}}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>