{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block main_content %}
<!-- Main content -->
<section class="content">
  <div class="container-fluid">

    {% include "messages.html" %}

    <div class="row">
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card">
          <div class="card-header" style="background-color: #004de6;">
            
            {% if role %}
                   
            <h3 class="card-title text-white">Update Permission</h3>
            {% else %}
            <h3 class="card-title text-white">Add Permission</h3>
            {% endif %}
         
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form  method="post"  class = "col-md-8">
            {% csrf_token %}
            <div class="card-body">
              {{ form|crispy }}
            </div>
            <!-- /.card-body -->

             <div class="card-footer">
          {% if permission %}
          <a href = "{% url 'role_app:manage_permission' %}" class = 'btn btn-sm btn-danger text-white ml-2 mt-2 mb-1'>Back</a>
          <button type="submit"  class = 'btn btn-sm btn-success text-white ml-2 mt-2 mb-1'>Update Permission</button>
          {% else %}
          <a href = "{% url 'role_app:manage_permission' %}" class = 'btn btn-sm btn-danger text-white ml-2 mt-2 mb-1'>Back</a>
          <button type="submit"  class = 'btn btn-sm btn-success text-white ml-2 mt-2 mb-1'>Add Permission</button>
          {% endif %}
            </div> 
            
          </form>
        </div>
        <!-- /.card -->



      </div>
    </div>
  </div>
</section>
<!-- /.content -->


{% include "permissions/admin_static_link.html" %}


{% endblock main_content %}

{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/permissions/permission.css' %}">
{% endblock custom_css %}


{% block custom_js %}

{% endblock custom_js %}
  


